<div id="content" class="bc-wood">
    <div class="trendy-about">
      <h2 class="trendy-about__title">TrendyEstateとは</h2>
      <p class="trendy-about__content">
        TrendyEstateは皆様のお部屋の内装を公開するアプリです。<br>
        コロナ禍のおうち時間を皆様はどのように過ごされましたでしょうか。<br>
        ウイルスによって世の中はすっかり変化してしまいましたが、今できることを楽しもうと過ごした方も多いのではないでしょうか。<br>
        自分のお部屋をオシャレに飾り付けしてみたり、<br>
        気持ちを新たに模様替えしてみたり、<br>
        DIYでオリジナルの家具を作ってみたり、<br>
        そしてこれからオシャレなお部屋にしたい方も。<br>
        誰かのお部屋を覗いて参考にすることや、自分のオシャレな部屋を自慢することも、<br>
        TrendyEstateは叶えることができます。<br>
        あなたのお部屋も投稿してみませんか？
      </p>
    </div>
</div>
