<div id="content">
  <div class="content-width new-room">
    <div class="container">
      <h2 class="login_title">お部屋を投稿する</h2>
      <%= render partial: "form", locals: { room: @room } %>
    </div>
  </div>
</div>
