<div id="content">
    <div id="rooms-content" class="content-width">
      <h2 class="rooms-content__title">#条件検索の結果</h2>
      <%= render partial: "shared/search", locals: { rooms: @rooms } %>
    </div>
</div>

